@inject IFoodSensorService foorSensorManager
<div class="row mt-3">
    <DxGrid CssClass="w-100"
            PagerNavigationMode="PagerNavigationMode.InputBox"
            Data="@foodSensors" KeyFieldName="Id"
            FocusedRowEnabled="false" PageSize="10"
            ShowFilterRow="false" ShowGroupedColumns="false" ShowSearchBox="false">
        <Columns>
            <DxGridDataColumn FieldName="Id" Caption="Id" Width="110" TextAlignment="GridTextAlignment.Center" />
            <DxGridDataColumn FieldName="Distance" Caption="Eksik Yem Yüzdelik İfadesi" MinWidth="100" TextAlignment="GridTextAlignment.Center" />
            <DxGridDataColumn FieldName="Date" Caption="Tarih" MinWidth="100" TextAlignment="GridTextAlignment.Center" />
        </Columns>

    </DxGrid>
</div>
<div class="row mt-1">
    <img src="images/oluk/olukpage.jpg" class="img-fluid" alt="...">
</div>





@code {
    public List<FoodSensor>? foodSensors { get; set; }

    protected override async Task OnInitializedAsync()
    {
        //rainSensors = await rainSensorManager.GetList();
        foodSensors = await foorSensorManager.GetAll();
    }
}
