@inject IFoodSensorService foodSensorManager

<div class="text-center text-danger fw-bold fst-italic">
    <img src="@ImagesValue" style="height: 800px;" />
</div>



@code {
    public FoodSensorDto? foodSensor { get; set; }
    private Timer? foodTimer;
    string? ImagesValue;

    protected override async void OnInitialized()
    {
        foodSensor = await foodSensorManager.GetEndData();
        await FoodTimer();
    }

    public async Task FoodTimer()
    {
        foodTimer = new Timer(async (_) =>
        {
            GetFoodImagesValue();

        }, null, TimeSpan.Zero, TimeSpan.FromSeconds(3));

    }

    async void GetFoodImagesValue()
    {
        try
        {
            await InvokeAsync(async () =>
           {
               foodSensor = await foodSensorManager.GetEndData();
               switch (foodSensor.Distance)
               {
                   case 0:
                       ImagesValue = "images/oluk/0.png";
                       break;
                   case 1:
                       ImagesValue = "images/oluk/1.png";
                       break;
                   case 2:
                       ImagesValue = "images/oluk/2.png";
                       break;
                   case 3:
                       ImagesValue = "images/oluk/3.png";
                       break;
                   case 4:
                       ImagesValue = "images/oluk/4.png";
                       break;
                   case 5:
                       ImagesValue = "images/oluk/5.png";
                       break;
                   case 6:
                       ImagesValue = "images/oluk/6.png";
                       break;
                   case 7:
                       ImagesValue = "images/oluk/7.png";
                       break;
                   case 8:
                       ImagesValue = "images/oluk/8.png";
                       break;
                   case 9:
                       ImagesValue = "images/oluk/9.png";
                       break;
                   case 10:
                       ImagesValue = "images/oluk/10.png";
                       break;

               }

               StateHasChanged();
           });


        }
        catch
        {


        }
    }
}
