@page "/Yem-Sensörü"

<div class="container-fluid">

    <div class="row">
        <div class="col-md-4 mt-4">
            <FoodSensorEndData></FoodSensorEndData>
        </div>

        <div class="col-md-8 mt-4">
            <FoodMachineButton></FoodMachineButton>
            <FoodSensorAllData></FoodSensorAllData>
        </div>


    </div>


</div>
