@page "/Yangın-Sensörü"
<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-md-4">
            <div class="row mb-5">

                <FireBuzzerButton></FireBuzzerButton>

            </div>
            <div class="row mt-5">

                <FireFunButton></FireFunButton>

            </div>
        </div>
        <div class="col-md-4">

            <FireSensorAllData></FireSensorAllData>
           
        </div>

        <div class="col-md-4 px-5">
            <FireSensorEndData></FireSensorEndData>
        </div>
    </div>
</div>