@inject IDoorActivityService doorActivityManager
@inject IToastService ToastManager
<div class="row">
    <div class="col-md-6">

        <button class="btn btn-outline-primary" @onclick="(()=>AddDoorActivity(1))" style="width:100%; height: 200px;"> <h1>Kapıyı Aç</h1> </button>
        <br /> <br />
        <button class="btn btn-outline-primary" @onclick="(()=>AddDoorActivity(0))" style="width:100%; height: 200px;"> <h1>Kapıyı Kapat</h1> </button>

    </div>
    <div class="col-md-6">
        <div class="row">
            <img src="@_doorimageUrl" style="height:400px; width:auto;" />
        </div>
    </div>
</div>


<div class="col-md-12 mt-3">
    <div class="alert @_bgcolor  text-center" style="height:100px;" role="alert">
        <h2 class="mt-2 text-white"> @_endDataAlert </h2>
    </div>
</div>


@code {

    string? _doorimageUrl;
    string? _endDataAlert;
    //bool _popupVisible;
    string? _saveBoxHeader;
    string? _bgcolor; 



    protected override void OnInitialized()
    {
        EndDataAlert();
    }

    async void EndDataAlert()
    {
        var endDataValue = await doorActivityManager.GetEndActivity();
        if (endDataValue.Activity == 1)
        {
            _endDataAlert = "KAPI AÇIK";
            _doorimageUrl = "images/dooropen.png";
            _bgcolor = "bg-danger";
        }
        else
        {
            _endDataAlert = "KAPI KAPALI";
            _doorimageUrl = "images/doorclose.png";
            _bgcolor = "bg-warning";
        }
        StateHasChanged();
    }


    void AddDoorActivity(int id)
    {
        if(id == 1)
        {
            _doorimageUrl = "images/dooropen.png";
        }
        else
        {
            _doorimageUrl = "images/doorclose.png";
        }
        DoorActivity doorActivity = new DoorActivity();

        doorActivity.Activity = id;
        doorActivityManager.AddActivity(doorActivity);
        EndDataAlert();
        ToastManager.ShowSuccess("İşlem Başarılı");
    }

}
