@page "/Yagmur-Sensoru"
<div class="container-fluid">
    <div class="row mt-1">
        <div class="col-md-5">

            <div class="row mt-4">
                <div class="col-md-6">

                    <RainSensorAllData></RainSensorAllData>
                </div>
                <div class="col-md-6">
                    <RoofActivityAllData></RoofActivityAllData>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-12">
                    <RainSensorChart></RainSensorChart>
                </div>
                <div class="col-md-12 mt-1">
                    <RoofActivityAdd></RoofActivityAdd>
                </div>
            </div>


        </div>
        <div class="col-md-7">
            <div class="row mt-4">
                <div class="col-md-12 text-center">
                    <RainSensorEndData></RainSensorEndData>
                </div>
                <div class="col-md-12 mt-3">
                    <RainSensorAnalitic></RainSensorAnalitic>
                </div>
               
            </div>
            <div class="row">
                <div class="col-md-12">
                </div>

            </div>

        </div>


        <div class="col-md-5">
        </div>


    </div>


</div>




