@page "/Kapı-Sensörü"

<div class="container-fluid">
    <div class="row mt-1">
        <div class="col-md-4 mt-4">

            <MoveSensorButton></MoveSensorButton>
        </div>
        <div class="col-md-4 mt-4">
            <MoveSensorAllData></MoveSensorAllData>
        </div>
        <div class="col-md-4 mt-4">

            <MoveBuzzerButton></MoveBuzzerButton>
        </div>
    </div>
    <div class="row mt-2">
        <MoveSensorEndData></MoveSensorEndData>
    </div>

</div>

