@page "/Parametreler"
<div class="container-fluid mt-3">
    <div class="col-md-3 col-sm-6">
        <div class="list-group">
            <a class="list-group-item list-group-item-action"> Çatı Kontrol Parametreleri </a>
            <a href="#" class="list-group-item list-group-item-action">Kapı Buzzer Kontrol Parametreleri</a>
            <a href="#" class="list-group-item list-group-item-action">Fan Kontrol Parametreleri</a>
            <a href="#" class="list-group-item list-group-item-action">Yangın Buzzer Parametreleri</a>
        </div>

    </div>

</div>

@code {

}
