@page "/"

<img src="images/Index/carousell.jpg" class="img-fluid" alt="...">

<div class="container">
    <div class="row mb-4">
        <div class="card mb-5 border-0">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="images/Index/1.png" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-2">
                </div>
                <div class="col-md-6">
                    <div class="card-body mt-5">
                        <h2 class="card-title">Yağmur Sensörü İle Ağır Brand Kontrolü</h2>
                        <p class="card-text"> Yağmur sensörü kullanılarak yağmur algılanacak, web sitesine uyarı gönderilecek ve ağılın üstündeki perde webden yavaş-orta-hızlı manuel olarak kapatılacak.</p>
                        <DxButton CssClass="btn btn-primary btn-lg" NavigateUrl="/Yagmur-Sensoru" Text="Kontrol Merkezine Git" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-4">
        <div class="card mb-5 border-0">
            <div class="row g-0">

                <div class="col-md-6">
                    <div class="card-body mt-5">
                        <h2 class="card-title">
                            Mesafe Sensörü İle Yem Oluk Kontrolü
                        </h2>
                        <p class="card-text">
                            Mesafe sensöründen alınan veri ile olukta yem olup olmadığı kontrol edilecek ve yem durumu web sitesine gösterilecek. Web sitesinden %30,%60,%100 seçenekleri ile yem eklemesi yapılacak.
                        </p>
                        <DxButton CssClass="btn btn-primary btn-lg" Text="Kontrol Merkezine Git" />
                    </div>
                </div>
                <div class="col-md-2">
                </div>
                <div class="col-md-4">
                    <img src="images/Index/2.png" class="img-fluid rounded-start" alt="...">
                </div>

            </div>
        </div>
    </div>

    <div class="row mb-4">
        <div class="card mb-5 border-0">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="images/Index/3.png" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-2">
                </div>
                <div class="col-md-6">
                    <div class="card-body mt-5">
                        <h2 class="card-title">Gaz Sensörü İle Yangın Durum Kontrolü</h2>
                        <p class="card-text">
                            Gaz sensörü kullanılarak ortamda yangın durumunda ortaya çıkacak
                            gazlar algılanarak yangın var ise buzzer çalışacak ve web sitesine
                            uyarı gidecek, webden yavaş-orta-hızlı şekilde fan çalıştırılacak.
                        </p>
                        <DxButton CssClass="btn btn-primary btn-lg" NavigateUrl="/Yangın-Sensörü" Text="Kontrol Merkezine Git" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-4">
        <div class="card mb-5 border-0">
            <div class="row g-0">

                <div class="col-md-6">
                    <div class="card-body mt-5">
                        <h2 class="card-title">Hareket Sensörü İle Sayım Ve Ağıl Kapı Kontrolü</h2>
                        <p class="card-text">
                            Hayvanlar hareket sensörü kullanılarak ağıl girişinde sayılacak ve sayı web sitesine gönderilecek.
                            Sistemde kaydolan hayvan sayısıyla karşılaştırılacak .Hayvan sayısı bilinenden azsa webden buzzer öttürülecek.
                            Hayvan sayısı aynı ise webden kapı kapatılacak.
                        </p>
                        <DxButton CssClass="btn btn-primary btn-lg" NavigateUrl="/Kapı-Sensörü" Text="Kontrol Merkezine Git" />
                    </div>
                </div>
                <div class="col-md-2">
                </div>
                <div class="col-md-4">
                    <img src="images/Index/4.png" class="img-fluid rounded-start" alt="...">
                </div>

            </div>
        </div>
    </div>
</div>